body {
    background-image: url("../images/lotrbackground.jpg");
    align-content: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container {
    margin-top: 100px;
    background-color: rgb(116, 116, 116);
    opacity: 0.8;
    padding: 50px;
    color: white;
}

#mainTitle {
    text-align: center;

}